fb2lib/private_settings.py
.idea/
test_books/*
test_lib/*
test_covers/*
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
*.log
docs/_build/
target/