{% extends "book/letters.html" %}
{% block content-title %}
    {{ title }}
{% endblock %}
{% block content %}
<div class='authors-content'>
    {% for author in authors %}
        <div class="card-wrapper author">
            <div class="author-photo">
                Тут возможно будет фото
            </div>
            <a href="{{ author.get_absolute_url }}" title="{{ author.title }}">
                <div class="author-link">
                    {{ author }}
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="navigation">
        <div class="n_arrow">
            {% if authors.has_previous %}
                &larr;&nbsp;
                <a href="?page={{ authors.previous_page_number }}">
                    предыдущая
                </a> |
            {% endif %}
            {%  if authors.has_next %}
                <a href="?page={{ authors.next_page_number }}">
                    следующая
                </a>
                &nbsp;&rarr;
            {% endif %}
        </div>
        <div class="clr"></div>
        <div class="n_pages">
            {% for page in authors.paginator.page_range %}
                {% if page == authors.number %}
                    <span>{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}">
                       {{ page }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="rast-nav"></div>
</div>
{% endblock %}